# RUN python contrib/secret_gen.py to generate a new SECRET_KEY
SECRET_KEY=5%r913*8plc41vmmn5dkl7#ey2l)t5w)*3dn#bgx*p!-qi2mq1
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, .localhost
AWS_ACCESS_KEY_ID=CONFIGURAR
AWS_SECRET_ACCESS_KEY=CONFIGURAR
AWS_STORAGE_BUCKET_NAME=CONFIGURAR
FACEBOOK_BOT_ACCESS_TOKEN=
FACEBOOK_PAGE_ID=