[run]
include = src/*

[report]
exclude_lines =
  pragma: no cover

    # Don't complain about missing debug-only code:
    def __unicode__
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

omit =
    src/settings.py
    src/*/migrations/*
    src/*/apps.py
    src/functional_tests/*
    src/accounts/*
    *tests*
    src/testutils/*
    */__init__.py
    src/middlewares/*
    src/wsgi.py

show_missing = True