:root {
    /*
    Modelo de cor:
            -- componente - bg|text: cor
     */
    --nav-bg: #0085C3;
    --nav-bg-hover: #0085C3;
    --nav-text-color: #f1f1f1;
    --footer-bg: #0275D8;
    --body-bg: #f1f1f1;
    --bg-primary: #0085C3;
    --bg-nav: #0085C3;
    --card-basic-bg: #fff;
    --botao-bg-grande: #3a9ade;
    --hr-titulo-color: #000;
    --card-header-bg: #f8f8f8;
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: 100%;
    /* Negative indent footer by its height */
    margin: auto;
    /* Pad bottom by footer height */
    padding: auto;
}
/* Set the fixed height of the footer here */

/*
  *************  Flags  ************
*/
/* Flags */
.input-flag {
    width: 32px;
    height: 22px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    /*margin-left: 5px;*/
    float: right;
    /*position: relative;*/
    /*bottom: 10px;*/

}
.flags {
    vertical-align: middle;
    padding: 10px 10px 15px;
}
/* Final Flags */

/*
  *************  Widgets  ************
*/
/*Cards*/
.card-header {
    border-bottom: 0px !important;
    background-color: var(--card-header-bg)!important;
}
.hr-titulo {
    border-top: 1px solid var(--hr-titulo-color);
    width: 100%;
    opacity: 0.5;
    max-width: 100% !important;
}
.card-basic {
    background-color: var(--card-basic-bg);
    padding: 15px 20px 10px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px rgba(116, 116, 116, 0.25);
    -moz-box-shadow: 0 2px 2px rgba(116, 116, 116, 0.25);
    box-shadow: 0 2px 2px rgba(116, 116, 116, 0.25);
}
.card-basic>button {
    text-align: center;
}
/* Others*/

.shadow {
    -webkit-box-shadow: 0 3px 2px rgba(116,116,116,0.25);
    -moz-box-shadow: 0 3px 2px rgba(116,116,116,0.25);
    box-shadow: 0 3px 2px rgba(116,116,116,0.25);
}
.cover {
    background-color: var(--body-bg) !important;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    margin-top: 50px;
}
/* Button*/
.btn-grande  {
    color: #fff !important;
    font-weight: 900;
    background-color: var(--botao-bg-grande);
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px rgba(116,116,116,0.25);
    -moz-box-shadow: 0 2px 2px rgba(116,116,116,0.25);
    box-shadow: 0 2px 2px rgba(116,116,116,0.25);
}
.btn-circle {
    border-radius: 50%;
}
.btn-full {
    min-width: 100%;
}
.btn-add-report:hover {
    text-decoration: none !important;
    color: #000;
    background-color: rgb(241, 7, 7);
}
.btn-add-report {

    padding: 10px 15px;
    font-size: 20px;
    width: 40px;
    height: 20px;
    color: #fff;
    background-color: rgb(234, 7, 7);
}
/* Form */
.footer-form {
    text-align: center;
}
.card-form {
    margin-top: 40px;
    border: solid 1px rgba(0,0,0,0.2);
    color: #000!important;
}

/* Sections */
.section-single {
    margin-top: 60px;

}
/* Final Widgets */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
    color: #001A33;
    webkit-tap-highlight-color: #222;
}
/* REPORT*/
.button-report-create {

}
