:root {
    /*
    Modelo de cor:
            -- componente - bg|text: cor
     */
    --nav-bg: #3a9ade;
    --footer-bg: #3a9ade;
    --body-bg: #ededed;
    --card-basic-bg: #fff;
    --botao-bg-grande: #3a9ade;
}
html,
body {
    height: 100%;
    background-color: var(--body-bg) !important;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -80px 0;
    /* Pad bottom by footer height */
    padding: 0 0 80px 0;
}
/* Set the fixed height of the footer here */

/*
  *************  Flags  ************
*/
/* Flags */
.input-flag {
    width: 32px;
    height: 22px;
    border: none;
    margin-left: 5px;
    float: right;
    position: relative;
    bottom: 10px;

}
.flags {
    vertical-align: middle;
    padding: 10px 10px 15px;
}
/* Final Flags */

/*
  *************  Widgets  ************
*/
/*Cards*/

.card-basic {
    background-color: var(--card-basic-bg);
    padding: 15px 20px 10px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px rgba(116, 116, 116, 0.25);
    -moz-box-shadow: 0 2px 2px rgba(116, 116, 116, 0.25);
    box-shadow: 0 2px 2px rgba(116, 116, 116, 0.25);
}
.card-basic>button {
    text-align: center;
}
/* Others*/

.shadow {
    -webkit-box-shadow: 0 2px 2px rgba(116,116,116,0.25);
    -moz-box-shadow: 0 2px 2px rgba(116,116,116,0.25);
    box-shadow: 0 2px 2px rgba(116,116,116,0.25);
}
/* Button*/
.btn-grande  {
    color: #fff !important;
    font-weight: 900;
    background-color: var(--botao-bg-grande);
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px rgba(116,116,116,0.25);
    -moz-box-shadow: 0 2px 2px rgba(116,116,116,0.25);
    box-shadow: 0 2px 2px rgba(116,116,116,0.25);
}
/* Form */
.footer-form {
    text-align: center;
}
/* */
/* Final Widgets */