/* Margins Shortcuts*/
.my-1 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.my-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-3 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.my-4 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-5 {
    margin-top: 25px;
    margin-bottom: 25px;
}

