{% load static %}
{% load i18n %}
{% load static %}
<nav id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'core:home' %}">
            LOGO - small
            {#            <img src="{% static 'img/logo-small.png' %}" alt="" class="">#}
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a class='links' href="#">{% trans 'link' %}</a></li>
        </ul>
        <div class="logo-warper"><a class="links" href="{% url 'core:home' %}">
            LOGO
            <img src="{% static 'img/logo.png' %}" alt="" >
        </a></div>
        <ul class="nav navbar-nav navbar-right">
            {% if not request.user.is_authenticated %}
                <li class="pull-right"><a class="links" href="{% url "accounts:login" %}">{% trans 'Entrar' %}</a></li>
                <li class="pull-right"><a class="links" href="{% url "accounts:register" %}">{% trans 'Registrar' %}</a></li>
            {% else %}
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle links">{{ request.user }}<b class="caret"></b></a>
                    <ul class="dropdown-menu menu-user">
                        <li><a class="links" href="{% url "accounts:settings" %}">{% trans 'Profile' %}</a></li>
                        <li class="divider"></li>
                        <li><a class="links" href="{% url "accounts:logout" %}?next=/">{% trans 'Sair' %}</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-10 language-row">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                <input name="language" type="hidden" value="pt" />
                <input  style="background: url({% static 'img/brasil-flag.png' %}); background-size: 32px 22px" class="input-flag" type="submit" value="" />
            </form>
        </div>
    </div>
</div>
<div class="space-nav-fixed"></div>

{#<div class="container">#}
{#    <ol class="breadcrumb">#}
{#        <li><a href="{% url "home" %}">Home</a></li>#}
{#        <li>{{ request.path }}</li>#}
{#        <li>{{ request.LANGUAGE_CODE }}</li>#}
{#        {% if not request.user.is_authenticated %}#}
{#            <li class="pull-right"><a href="{% url "accounts:login" %}">Entrar</a></li>#}
{#            <li class="pull-right"><a href="{% url "accounts:register" %}">Registrar</a></li>#}
{#        {% else %}#}
{#            <li class="dropdown pull-right">#}
{#                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ request.user }}<b class="caret"></b></a>#}
{#                <ul class="dropdown-menu">#}
{#                    <li><a href="{% url "accounts:settings" %}">Profile</a></li>#}
{#                    <li class="divider"></li>#}
{#                    <li><a href="{% url "accounts:logout" %}?next=/">Logout</a></li>#}
{#                </ul>#}
{#            </li>#}
{#        {% endif %}#}
{##}
{#    </ol>#}
{#    <form action="{% url 'set_language' %}" method="post">#}
{#        {% csrf_token %}#}
{#        <input name="next" type="hidden" value="{{ request.get_full_path }}" />#}
{#        <input name="language" type="hidden" value="pt" />#}
{#        <input  style="background: url({% static 'img/brasil-flag.png' %}); background-size: 32px 22px" class="input-flag" type="submit" value="" />#}
{#    </form>#}
{#</div>#}