{% load static %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url "home" %}">Home</a></li>
        <li>{{ request.path }}</li>
        <li>{{ request.LANGUAGE_CODE }}</li>
        {% if not request.user.is_authenticated %}
            <li class="pull-right"><a href="{% url "accounts:login" %}">Entrar</a></li>
            <li class="pull-right"><a href="{% url "accounts:register" %}">Registrar</a></li>
        {% else %}
            <li class="dropdown pull-right">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ request.user }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url "accounts:settings" %}">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url "accounts:logout" %}?next=/">Logout</a></li>
                </ul>
            </li>
            {#            <li class="pull-right"><a href="{% url "accounts:settings" %}">{{ request.user.first_name }}</a></li>#}
            {#            <li class="pull-right"><a href="{% url "accounts:logout" %}">Logout</a></li>#}
        {% endif %}

    </ol>
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.get_full_path }}" />
        <input name="language" type="hidden" value="pt" />
        <input  style="background: url({% static 'img/brasil-flag.png' %}); background-size: 32px 22px" class="input-flag" type="submit" value="" />
    </form>
</div>